<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-wrapper">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" value="Synerzip">
                        </div>
                    </div>
                </div>
                <div class="panel-stage">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-wrapper">
                                <div class="panel-title">
                                    Billable Vs Bench
                                </div>
                                <div class="panel-stage">
                                    TBD
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-wrapper">
                                <div class="panel-title">
                                    Projects
                                </div>
                                <div class="panel-stage">
                                    <ul>
                                        <li>
                                            <input type="text" value="PDX">
                                        </li>
                                        <li>
                                            <input type="text" value="Google">
                                        </li>
                                        <li>
                                            <input type="text" value="Halliburton">
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-notes">
                    Owned by Vinayak
                </div>
            </div>
        </div>
    </div>

</div>