<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-wrapper">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-4">Synerzip</div>
                        <div class="col-xs-offset-8 col-xs-2"><a ui-sref="organizations.edit"><i class="glyphicon glyphicon-edit"></i> Edit</a></div>
                        <div class="col-xs-2"><a><i class="glyphicon glyphicon-remove"></i> Delete</a></div>
                    </div>
                </div>
                <div class="panel-stage">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-wrapper">
                                <div class="panel-title">
                                    Billable Vs Bench
                                </div>
                                <div class="panel-stage">
                                    <img src="images/area-chart.png" class="img-responsive">
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel-wrapper">
                                <div class="panel-title">
                                    Projects
                                </div>
                                <div class="panel-stage">
                                    Google, PDX, Halliburton, ...
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-notes">
                    Owned by Vinayak
                </div>
            </div>
        </div>
    </div>

</div>