<div class="container">

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control"/>

                <div class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-filter"></span> Filter
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        &nbsp;
    </div>
</div>
<div class="row">
<div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
        <div class="panel-title">
            PDX : <span class="badge">6</span> Open Positions
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Red Days
                        </div>
                        <div class="panel-stage">
                            <div class="red-days">0</div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable People
                        </div>
                        <div class="panel-stage">
                            <img src="images/pie-chart.png" class="img-responsive">
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            People
                        </div>
                        <div class="panel-stage">
                            Anil, ...
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Owned by Anil
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
        <div class="panel-title">
            CMS : <span class="badge">1</span> Open Positions
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Red Days
                        </div>
                        <div class="panel-stage">
                            <div class="red-days">0</div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable People
                        </div>
                        <div class="panel-stage">
                            <img src="images/pie-chart.png" class="img-responsive">
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            People
                        </div>
                        <div class="panel-stage">
                            Preshit,...
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Owned by Preshit
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
        <div class="panel-title">
            Loven : <span class="badge">1</span> Open Positions
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Red Days
                        </div>
                        <div class="panel-stage">
                            <div class="red-days">0</div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable People
                        </div>
                        <div class="panel-stage">
                            <img src="images/pie-chart.png" class="img-responsive">
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            People
                        </div>
                        <div class="panel-stage">
                            Sumeet, Anuja, Vijay, ...
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Owned by Mukund
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
        <div class="panel-title">
            LRS : <span class="badge">0</span> Open Positions
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title red">
                            Red Days
                        </div>
                        <div class="panel-stage">
                            <div class="red-days">1</div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable People
                        </div>
                        <div class="panel-stage">
                            <img src="images/pie-chart.png" class="img-responsive">
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            People
                        </div>
                        <div class="panel-stage">
                            Saurabh, Prashant, ...
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Owned by Ashutosh
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
        <div class="panel-title">
            Google : <span class="badge">10</span> Open Positions
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Red Days
                        </div>
                        <div class="panel-stage">
                            <div class="red-days">0</div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable People
                        </div>
                        <div class="panel-stage">
                            <img src="images/pie-chart.png" class="img-responsive">
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            People
                        </div>
                        <div class="panel-stage">
                            Salil, Atul, Uttam, ...
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Owned by Salil
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
        <div class="panel-title">
            Google : <span class="badge">10</span> Open Positions
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Red Days
                        </div>
                        <div class="panel-stage">
                            <div class="red-days">0</div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable People
                        </div>
                        <div class="panel-stage">
                            <img src="images/pie-chart.png" class="img-responsive">
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            People
                        </div>
                        <div class="panel-stage">
                            Salil, Atul, Uttam, ...
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Owned by Salil
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
        <div class="panel-title">
            Google : <span class="badge">10</span> Open Positions
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Red Days
                        </div>
                        <div class="panel-stage">
                            <div class="red-days">0</div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable People
                        </div>
                        <div class="panel-stage">
                            <img src="images/pie-chart.png" class="img-responsive">
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            People
                        </div>
                        <div class="panel-stage">
                            Salil, Atul, Uttam, ...
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Owned by Salil
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
        <div class="panel-title">
            Google : <span class="badge">10</span> Open Positions
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Red Days
                        </div>
                        <div class="panel-stage">
                            <div class="red-days">0</div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable People
                        </div>
                        <div class="panel-stage">
                            <img src="images/pie-chart.png" class="img-responsive">
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            People
                        </div>
                        <div class="panel-stage">
                            Salil, Atul, Uttam, ...
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Owned by Salil
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
        <div class="panel-title">
            Google : <span class="badge">10</span> Open Positions
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Red Days
                        </div>
                        <div class="panel-stage">
                            <div class="red-days">0</div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Billable People
                        </div>
                        <div class="panel-stage">
                            <img src="images/pie-chart.png" class="img-responsive">
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            People
                        </div>
                        <div class="panel-stage">
                            Salil, Atul, Uttam, ...
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Owned by Salil
        </div>
    </div>
</div>
</div>
</div>